# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*secret.tfvars

*local.config.js
package-lock.json
.history/deploy/01-main_20220117165901.tf
.history/deploy/01-main_20220117165904.tf
.history/deploy/01-main_20220117165944.tf
.history/deploy/13-lambda-process-queue_20220117160459.tf
.history/deploy/13-lambda-process-queue_20220117193100.tf
.history/deploy/terraform_20220117164104.tfvars
.history/deploy/terraform_20220117164116.tfvars
.history/deploy/terraform_20220117164125.tfvars
.history/deploy/terraform_20220117164151.tfvars
.history/deploy/terraform_20220117164154.tfvars
.history/deploy/terraform_20220117170257.tfvars
.history/deploy/terraform_20220117170626.tfvars
.history/deploy/terraform_20220117180529.tfvars
deploy/.terraform.lock.hcl
package-lock.json
.history/.gitignore_20220117160459
.history/.gitignore_20220117193155
deploy/lambdas/getTodoById.zip
deploy/lambdas/getTodos.zip
deploy/lambdas/sqsProcesser.zip
.history/deploy/terraform_20220118063329.tfvars
.history/deploy/17-route53_20220118222430.tf
.history/deploy/17-route53_20220118222421.tf
.history/deploy/17-route53_20220118230357.tf
.history/*
.env
